@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot?t=1603596901632'); /* IE9 */
  src: url('iconfont.eot?t=1603596901632#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
      url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABmwAAAJ5AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gQUBNgIkAwgLBgAEIAWEbQczG64FyC4xdj0QCZGIthhVFN2ty+c7D2PwOw7x8P/7fdvnvjsmkmZNFM2i4JFECX8SqqGyCIlEKIRG90zlXi3dpnUXveO/yyhaU11+y97l8v1+qRqEwyi6MggJwiFpL0BFd20jhPguf3MB+gDjpllWnu4acDn9CfQgrQPKbY7BYwIGlga6B0aRlUniDWMXvMDHBJqNMzQO9k7OoS+zVwXivpIh9AtRWWaFRqG+4WAWL9VpTI/SN+BF9P34y4s+SV3Fbjm+t7uEjR+ckqpWam4HhBgBHa9DhVUgE+eN2UMtwbiW5mzbNDhWY/BDKYFdHNUi2F9n17eCUSh9Jpknf9T6BHIyPQusTLqcNDiuL19aPH/205OBq3bt3ZMPUXcRXPb56tb0/furDy0dT959fPu/F8/fUD/MH/zl7rhYxsTqB8UfWZHLr328HBe2AVBUR60daCCY/feYP9v4748y+H4PReEiG+YHjbv1Bb9HNnAoGwrblrIma/Qns5NWJjRrRgkHu/1ONfbdSzE06rsjf4OxzF1pNGSQzOwq6rRYR71G22i2Yv94ix5aS+QmLHsCCJ0+kbT7ikqnbzKzP6jT7w/1OqOFZpfRc2GL+VDDfU0h0xKje1RxkQvXwcO48ZTkdRrqvCLiXZKuVQJdyykX9iknvcSW+kZ6zAKFLjLcA89RmhZY6mJNMVsr5nJh26LpTVZcZDC0TyMhRpZQ5B5SYoWcCCazYeXzp4h0LRXSHW118UtEq6nZkcviDCD3tfmgtkd5pXZD8jAmIEErZNAemEdSqQIqm+etkRizrCakSwu2M04M1Vrb67MfKGFd2KYUzo5K05r7sFJLlUsA')
      format('woff2'),
    url('iconfont.woff?t=1603596901632') format('woff'), url('iconfont.ttf?t=1603596901632') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont.svg?t=1603596901632#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-21zhiding:before {
  content: '\e695';
}
